#header{
     height: 150px;
     background-color: black;
     border: 3px solid firebrick;
     border-bottom: 0px;
     color: azure;
     word-spacing: 10px;
     text-shadow: 10px 10px 8px burlywood;
     border-radius: 15px;
     text-align: center;
     font-size: 2em;
}