body{
     background-color: rgb(101, 96, 96);
}
#header{
     width: 1265px;
     height: 50px;
     background: rgb(101, 96, 96);
     font-size: large;
     text-align:  center;
     word-spacing: 20px;
     text-shadow: 5px 5px #000;
     color: #fff;
     border:3px solid rgb(64, 67, 67);
     border-left: 0px;
     border-right: 0px;
     border-radius: 20px;
}
.hm{
     padding-top: 5px;
}
.topnav{
     width: 1265px;
     height: 40px;
     margin-top: 10px;
}
.common{
     width: 100px;
     height:40px;
     color: #fff;
     display: inline;
     margin-block-start: 10px;
     text-align: center;
     word-spacing:5px;
     border: 2px solid rgb(64, 67, 67);
     margin-top: 2px;
     border-radius: 20px;
     padding: 5px;
}
.common:hover{
     background: #ffffff78;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: 200;
}
.common i{
     padding-right: 5px;
     color: dodgerblue!important;
}
.common a{
     text-decoration: none;
     color: #000;
}